/*estilo de la galeria*/
#gallery {
	width: 100%;
}

#h2_2 {
	position: absolute;
	top: 2.5em;

}

#h2_1, #h2_2, #h2_3 {
	font-size: 2em;
    z-index: 1;
}

.h2 {
	margin: 0;
	padding: 0;
}
.content_gallery {
    margin: 2% 8% 1% 6%;
    padding: 2%;
}
/* Estilos para el carrusel */
.carousel_container {
	position: relative;
	overflow: hidden;
}

.carousel_items {
	display: flex;
	scroll-snap-type: x mandatory;
	gap: 16px; /* Espaciado entre las imágenes */
	scroll-behavior: smooth;
  	transition: transform 0.8s ease-in-out;
}

.box_img {
	margin: auto;
	flex: 0 0 calc(26% - 16px);
	scroll-snap-align: start;
	max-width: 100%;
	max-height: 70%;
	overflow: hidden;
	display: block;
}

.box_img a img {
	width: 100%;
	height: auto;
	border-radius: 0.5em;
	object-fit: cover;
}


/* Estilos para los botones de navegación */
.prevBtn,
.nextBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 1;
	color: #010C1A;
}

.prevBtn {
	margin: auto;
	left: 10px;
}

.nextBtn {
	margin: auto;
	right: 10px;
}

/* Estilos adicionales para hacerlo responsive */
@media (max-width: 768px) {
	.carousel_items {
		gap: 8px;
		transform: translateX(0px);
  		height: 13.25em;
	}

	.box_img {
		flex: 0 0 calc(40% - 16px);
	}

	.h2 {
		margin: 0.7em 0 0 0;
		padding: 0.2em;
	}

	#h2_2 {
		top: 0.2em;
	}

	#h2_1, #h2_2, #h2_3 {
		font-size: 1em;
	}

}

@media (max-width: 480px) {
	.carousel_items {
		gap: 4px;
	}
}
