/*estilo de toda la pagina*/ 
body {
    font-family: "Libre Baskerville", serif, italic;
    color: #010C1A;
    background-color: #ede0d5;
    margin: 0;
    box-sizing: border-box;
}

.glassmorphism {
    background-color: rgba(225, 225, 225, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(0.1px);
    border: 2px solid rgba(225, 225, 225, 0.15);

}

.content {
    margin: 8% 8% 1% 6%;
    padding: 4%;
}
 
/*estilo de la cabezera*/
header {
    background-image: #252525;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: 1em;
    transition: font-size 0.3s ease-in-out;
}

header a:hover {
    font-size: 1.1em;
}

header img {
    max-height: 3em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: #010C1A;
}

/*estilo de el inicio*/
#inicio {
    margin-top: 12%;
    background-image: url('../assets/img/background_section_inicio.png');
    background-size: cover;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(2px); /* Ajusta el valor según sea necesario */
}

#inicio div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    z-index: 1;
    text-align: center;
}

#inicio p {
    text-align: left;
    font-size: calc(2.1vw - 0.1vh);
    margin: 1% 5%;
    padding: 2% auto;
    transition: font-size 0.3s ease-in-out;
}

#inicio img {
    margin: 1% 5%;
    padding: 2% auto;
    max-width: 100%;
    height: auto;
    max-height: 53em;
    border-radius: 40px;
    z-index: 1;
}

/*estilo de la galeria*/
#galeria {
    max-width: 75em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 4% 0;
}

.box a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.box:nth-child(4){
    grid-column-start: span 2;
}

#galeria div a img:hover {
    transform: scale(1.1);
}

/* Estilo adicional para el botón "Ver más" */
.button {
    background-color: #ff69b4; 
    color: #ffffff;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3.5em;
    transition: font-size 0.3s ease-in-out;
}

.button:hover {
    background-color: #ff80bf;
    color: #8f8f8f;
    transition: background-color 0.5s linear; 
}

/*estilo para el pie de pagina*/
footer {
    text-align: center;
}

#footer {
    font-weight: 100%;
    font-size: calc(0.5rem + 0.5vw);
    padding: 0.5em;
    margin: 0.7em;
    border-radius: 30px;
    width: auto;
    top: 0;
    transition: top 0.5s;
}

#footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0.5em; 
}

#contacto {
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contacto_item_1 {
    flex-basis: 100%;
}

#contacto_item_2, #contacto_item_3 {
    flex-basis: calc(50% - 0.625em);
}

#mensaje {
    color: #010C1A;
    text-align: left;
    margin: 3.44em 2.5em;
}

#whatsapp {
    color: green;
    font-weight: bold;
    transition: font-size 0.3s ease-in-out;
}

#rs_box {
    margin: 15% 4% 2% 2%;
    padding: 1%;
    border-left: 1px solid #000;
}

#rs_box div {
    margin-top: 4%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#redes_sociales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
}

#redes_sociales a:link, a:visited, a:active {
    text-decoration: none;
}

#redes_sociales a i {
    font-size: 4em;
    color: #010C1A;
}

#redes_sociales a i:hover {
    color: #485478;
    transition: color 0.3s linear;
}

#copy p {
    padding: 0;
    margin: 0;
}

.footer_box:nth-child(3){
    grid-column-start: span 2;
}

.footer_box p {
    font-size: 1.3em;
    transition: font-size 0.3s ease-in-out;
}

.footer_box p a {
    text-decoration: none;
}
./* Estilo para el formulario de contacto */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    margin: 1em;
    padding: 0.625em;
}

#name, #email, #comentario {
    width: 100%;
    height: auto;
}

.exit_btn {
    position: absolute;
    top: 40px;
    right: 10px;
    margin: 0;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    background-color: #ff69b4;
    color: #ffffff;
    padding: 0.5em 0.7em;
    border-radius: 5px;
    transition: font-size 0.3s ease-in-out;
}

.container_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container_modal.mostrar {
    background-color: black;
    z-index: 1;
    opacity: 0.9;
}

.container_modal .modal {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc(35vw - 0.1vh);
    padding: calc(5vw - 0.1vh);
    background-color: #fff;
    opacity: 1;
}

.modal {
    border-radius: 2em;
    width: 100%;
}

.content_form {
    padding: 0.2em;
    margin: 0.5em;
}

/*estilo segun el tamaño del display*/
@media only screen and (max-width: 1000px) {
    #rs_box {
        margin-top: 18%;
    }
    .container_modal .modal {
        margin: calc(28vw - 0.1vh);
        padding: calc(5vw - 0.1vh);
    }
}
@media only screen and (max-width: 768px) {

    #inicio {
        margin-top: 20%;
    }

    #inicio div {
        flex-direction: column; 
        align-items: flex-start; 
        text-align: center; 
    }
    
    #inicio p {
        font-size: calc(4vw - 0.1vh);
    }

    #inicio img {
        margin: 1% 12%;
        padding: 2% auto;
        max-width: 100%;
        height: auto;
        max-height: calc(60vw - 0.1vh);
    }

    #galeria {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .box:nth-child(4){
        grid-column-start: span 1;
    }

    #footer_container {
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px; 
    }

    .footer_box p {
        font-size: 1.2em;
    }

    .footer_box:nth-child(3){
        grid-column-start: span 1;
    }

    #rs_box {
        margin-top: 6%;
        border-left: none;
        border-top: 1px solid #000;
    }

    .contacto_whatsapp {
        font-size: calc(2.5vw - 0.1vh);
    }

    .container_modal .modal {
        margin: calc(20vw - 0.1vh);
        padding: calc(5vw - 0.1vh);
        font-size: calc(0.9rem - 0.5vw);
    }
}
