#menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	font-weight: 100;
	font-size: calc(0.5rem + 0.5vw);
	padding: 5px;
	margin: 5px;
	border-radius: 30px;
	width: auto;
	position: absolute;
	top: 0;
	transition: top 0.5s;
}

#nav {
	display: inline-block;
}

.nav_divlist {
	display: grid;
	justify-content: center;
}
.nav_divlist__list {
	list-style-type: none;
	text-align: center;
	display: inline-block;
	width: auto;
	height: auto;
	padding: calc(0.6px + 0.3vw);
}

.nav_divlist__list__elements {
	display: inline-block;
	padding: calc(1px + 0.3vw) calc(5px + 0.5vw);
}
	.nav_divlist__list__elements a {
/*		color: rgba(225, 225, 255, 1);*/
		color: black;
		text-decoration: none;
		padding: 5px;
		border-radius: 20px;
		border-top: 1px solid rgba(225, 225, 225, 0.0);
		border-left: 1px solid rgba(225, 225, 225, 0.0);
		border-right: 1px solid rgba(225, 225, 225, 0.0);
		border-bottom: 2px solid rgba(225, 225, 225, 0.0);
	}
	.nav_divlist__list__elements a:hover {
		border-top: 1px solid rgba(225, 225, 225, 0.20);
		border-left: 1px solid rgba(225, 225, 225, 0.30);
		border-right: 1px solid rgba(225, 225, 225, 0.30);
		border-bottom: 2px solid rgba(225, 225, 225, 0.30);
		box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.37);
	}
	.nav_divlist__list__elements a {
		transition: border-bottom, border-left, border-right, 2s, linear, 0.5s;
	} 

/*@media only screen and (max-width:  768px) {
	.header {
		font-size: calc(0.7rem + 1vw);
	}
}
*/
